# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

# game assets files
Muscovy_6.0/ASCII
Muscovy_6.0/Buttons
Muscovy_6.0/Character Sprites
Muscovy_6.0/Dialogue
Muscovy_6.0/HUD
Muscovy_6.0/Journal
Muscovy_6.0/Maps
Muscovy_6.0/Mouse
Muscovy_6.0/portrait
Muscovy_6.0/Sound
Muscovy_6.0/x64

# bin files
x64
x86

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
